NETLIFY_AUTH_ENABLED=false
DL_BACKEND_ENABLED=false
DL_REMOTE_STORAGE_ENABLED=false
DL_SERVER_AUDIT_ENABLED=false
DL_TRANSACTIONAL_MAIL_ENABLED=false

API_BASE_URL=/.netlify/functions

JWT_SECRET=CHANGE_ME
POSTMARK_API_KEY=CHANGE_ME
SENDGRID_API_KEY=CHANGE_ME
MAILGUN_API_KEY=CHANGE_ME

NETLIFY_SITE_NAME=dl-creator-preview
NETLIFY_ENVIRONMENT=preview
